---
- name: 0. Configurar Interfaz WAN (ethernet1/1) por DHCP
  paloaltonetworks.panos.panos_interface:
    provider: "{{ pa_provider }}"
    if_name: "ethernet1/1"
    mode: "layer3"
    enable_dhcp: true
    create_default_route: true
    # Asignar a Zona y VR
    vr_name: "default"
    zone_name: "untrust"
    state: "present"

- name: 1. Configurar IKE Crypto Profile (Phase 1)
  paloaltonetworks.panos.panos_ike_crypto_profile:
    provider: "{{ pa_provider }}"
    name: "S2S-FG-PA-IKE"
    dh_group: ["group14"]
    encryption: ["des-cbc"]
    hash: ["sha256"]
    lifetime_seconds: 43200
    state: "present"

- name: 2. Configurar IPsec Crypto Profile (Phase 2)
  paloaltonetworks.panos.panos_ipsec_crypto_profile:
    provider: "{{ pa_provider }}"
    name: "S2S-FG-PA-IPSEC"
    dh_group: "group14"
    esp_encryption: ["des-cbc"]
    esp_authentication: ["sha256"]
    lifetime_seconds: 3600
    state: "present"

- name: 3. Crear Interfaz de Tunel (tunnel.1)
  paloaltonetworks.panos.panos_interface:
    provider: "{{ pa_provider }}"
    if_name: "tunnel.1"
    ip: ["169.255.1.2/30"] 
    create_default_route: false
    enable_dhcp: false
    vr_name: "default"
    zone_name: "VPN_Zone"
    state: "present"

- name: 4. Configurar IKE Gateway
  paloaltonetworks.panos.panos_ike_gateway:
    provider: "{{ pa_provider }}"
    name: "S2S-FG-PA-GW"
    version: "ikev2"
    interface: "ethernet1/1"
    # IMPORTANTE: Al ser DHCP, no definimos 'local_ip_address' estática
    # Apuntamos a la IP del FortiGate (10.100.100.114)
    peer_ip_value: "10.100.100.114" 
    pre_shared_key: "{{ vpn_psk }}"
    crypto_profile: "S2S-FG-PA-IKE"
    liveness_check: 5
    state: "present"

- name: 5. Configurar IPSec Tunnel + Proxy IDs
  paloaltonetworks.panos.panos_ipsec_tunnel:
    provider: "{{ pa_provider }}"
    name: "S2S-FG-PA"
    tunnel_interface: "tunnel.1"
    ike_gw: "S2S-FG-PA-GW"
    ipsec_profile: "S2S-FG-PA-IPSEC"
    enable_tunneling: true
    state: "present"

- name: 5.1 Agregar Proxy ID Wildcard
  paloaltonetworks.panos.panos_ipsec_tunnel_proxy_id:
    provider: "{{ pa_provider }}"
    tunnel_name: "S2S-FG-PA"
    name: "Wildcard-S2S"
    local: "0.0.0.0/0"
    remote: "0.0.0.0/0"
    state: "present"

- name: 6. Configurar Ruta Estatica hacia Site A
  paloaltonetworks.panos.panos_static_route:
    provider: "{{ pa_provider }}"
    name: "Ruta-a-SiteA"
    destination: "10.100.100.0/22"
    nexthop_type: "ip-address"
    nexthop: "169.255.1.1" # IP del Túnel FortiGate
    interface: "tunnel.1"
    virtual_router: "default"
    state: "present"

- name: 7. Commit
  paloaltonetworks.panos.panos_commit:
    provider: "{{ pa_provider }}"
